.intro{
  padding: 10px 0 25px;
  height: 564px;
  &__content {
    position: relative;
    display: flex;
    height: 484px;
    background: url(../images/intro__bunner.png);
    &-title {
      position: absolute;
      left: 95px;
      top: 65px;
    }
    &-logo {
      position: absolute;
      left: 320px;
      bottom: 145px;
    }
  }
   &__list{
     position: absolute;
     top: 564px;
     height: 80px;
     display: flex;
    flex-direction: row;
     gap: 128px;
     align-items: center;
     color: #CFCFCF;
     font-family: Gilroy;
     font-size: 18px;
     border-bottom: 1px solid  rgba(255, 255, 255, 0.10); ;
}
  &__img{
    object-fit: cover;
    width: 100%;
    height: 484px;
    object-position: center;

  }
}
