.question{

&__logo{
    display: flex;
  flex-direction: column;
  row-gap: 0;
  padding: 0 240px;
  margin-bottom: 70px;
  &-btn{
    width: 150px;
    position: relative;
    display: flex;
    flex-direction: row;
    padding:  20px 0 ;
    background: #403C3B;
    column-gap: 10px;

    &_svg{
      &::before{
        content: "к выбору блюда";
        color: #FFF;
        font-family: Gilroy;
        font-size: 15px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        position: absolute;
        left: 15px;
        top: 17px;
      }
    }
  }
  &-title{
    color: #FFF;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    position: relative;
    &::before{
      content: "";
      width: 33px;
      height: 4px;
      position: absolute;
      top: 17px;
      left: -30px;
      transform: rotate(90deg);
      @extend %buttonGradient;
    }
    &::after{
      content: "(в корзине 3 товара)";
      color: #72A479;
      font-family: Gilroy;
      font-size: 15px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: lowercase;
      position: absolute;
      left: 180px;
      top: 15px;
    }
  }
}
  &__content{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 100px ;
    border-radius: 10px;

  }
  &__block{
    padding: 0 ;
    height: 126px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
    border-radius: 10px 10px  0 0 ;
    &.two{
      border-radius: 0 0 10px 10px ;
    }

    &-img{
      width: 117px;
      height: 86px;
      flex-shrink: 0;
      margin-left: 10px;
      border-radius: 10px;
    }
    &-info{
      margin-left:40px ;
      &_subtitle{
        color: #FFF;
        font-family: Gilroy;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      &_text{
        color: #A6A7AB;
        font-family: Gilroy;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }
    &-count{
      display: flex;
      align-items: center;
      flex-direction: row;
      column-gap: 10px;
      margin-left: 210px;
      &_btn{
        color: white;
        font-size: 22px;
        width: 26.972px;
        height: 26.972px;
        flex-shrink: 0;
        border-radius: 100%;
        @extend %buttonGradient;
      }
      &_numbers{
        color: #FFF;
        font-family: Greenwich;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &-cost{
      margin-left: 130px;
      display: flex;
      gap: 73px;
      &_money{
        color: #FFF;
        font-family: Gilroy;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      &_btn{
        color: white;
        font-size: 22px;
        width: 26.972px;
        height: 26.972px;
        flex-shrink: 0;
        border-radius: 100%;
      @extend %buttonGradient;

      }
    }
  }

}