
%flexCenter{
  display: flex;
  align-items: center;
  justify-content: center;
}
%buttonGradient{
  background: linear-gradient(115deg, #618967 5.11%, #72A479 94%);
  box-shadow: 0 30px 45px 0 rgba(43, 40, 40, 0.60);


}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background: #403C3B ;
  &::-webkit-scrollbar{
    display: none;
  }

}
img{
  width: 100%;
  object-fit: cover;
}
ul,ol{
  list-style: none;
}
a{
  color: inherit;
  text-decoration: none;
}
button{
  border: none;
  cursor: pointer;
}
input,textarea{
  width: 100%;
  font-family: inherit;
}
.container{
  max-width: 1312px;
  padding: 0 20px;
  margin: 0 auto;
}
@import "header";
@import "footer";
@import "qustion";